node_modules

/out
/database-debug.log
/firebase-debug.log
/.firebase
/.firebaserc
/public/.dev

# Generated HTML from template
/public/index.html

# Environment variables (ignore all .env* except .env*.example and .env.defaults)
.env*
!.env*.example
!.env.defaults
