apscheduler==2.1.2
bottle==0.12.9
google-api-python-client==1.5.0
passlib==1.6.5
paste==2.0.3
pillow==4.1.1
pymongo==3.4.0
python-gflags==3.0.4
requests==2.17.3
tornado==4.3
ujson==1.35
uwsgi==2.0.12
wsgiprof==1.0.0
