html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 64px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
}

.container {
  width: 960px;
}

/* bugfix to bootstrap-material-design */
@media (max-width: 1199px) {
.navbar-text {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.no-decoration {
  text-decoration: none !important;
  color: inherit !important;
}

.popover {
  max-width: 100000px;
}

.navbar .clock {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  line-height: 30px;
  font-size: 18px;
}

@media (min-width: 1200px) {
.navbar .clock {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
}

/* Always show help message */
.help-block {
  display: block !important;
}


/*******************************************************************************
 *
 *  Standings
 *
 */

.standings {
  position: relative;
}

.standings .team-row {
  position: relative;
  transition: background-color 1s linear;
}

.standings .team-row.legend {
  font-weight: bold;
}

.standings .team-row.sticky {
  background-color: #BDBDBD;
}

.standings .team-row.animating {
  transition: transform 3s ease;
}

.standings .team-row.new-solved {
  background-color: #FFD600;
}

.standings .team-row .team-table {
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  line-height: 1.3;
  transition: top 3s ease, background-color 1s linear;
}

.standings > ul {
  margin-bottom: 0;
}

.standings .team-row:last-child .team-table {
  border-bottom: 1px solid #888;
}

.standings > ul:last-child .team-row:last-child .team-table {
  border-bottom: 1px solid #ddd;
}

.standings .team-row .team-table > tbody > tr > td,
.standings .team-row .team-table > tbody > tr > th {
  padding: 5px 3px;
}

.standings .team-row .team-table .team-mark {
  width: 20px;
  padding: 6px 2px 4px !important;
  text-align: center;
  user-select: none;
}

.standings .team-row .team-table .team-mark .glyphicon-pushpin {
  color: #BDBDBD;
}

.standings .team-row .team-table .team-mark .glyphicon-pushpin.pinned {
  color: #F44336;
}

.standings .team-row .team-table .team-rank {
  width: 32px;
  text-align: center;
}

.standings .team-row .team-table .team-name {
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.standings .team-row .team-table .team-solved {
  width: 48px;
  text-align: center;
}

.standings .team-row .team-table .team-penalty {
  width: 48px;
  text-align: center;
}

.standings .team-row .team-table .team-score {
  width: 64px;
  text-align: center;
}

.standings .team-row .team-table .team-members {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.standings .team-row .team-table .team-problem {
  width: auto;
  text-align: center;
}

.standings .team-row .team-table .team-problem .team-problem-flag {
  position: absolute;
  display: inline-block;
}

.standings .team-row .team-table .team-cell {
  position: relative;
}

.standings .team-row .team-table .team-cell-fg {
  position: relative;
  color: #000 !important;
}

.standings .team-row .team-table .team-cell-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@keyframes standings-blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

.standings .team-row .team-table .team-cell-bg.solved {
  background-color: #64DD17;
}

.standings .team-row .team-table .team-cell-bg.pending {
  background-color: #FFD600;
  animation: standings-blink 1s ease 0s infinite alternate-reverse none running;
}

.standings .team-row .team-table .team-cell-bg.rejected {
  background-color: #FF5252;
}

.standings .team-row .team-table .team-cell-bg.unattempted {
  background-color: inherit;
}

.team-info-tip {
  width: 480px;
}


/*******************************************************************************
 *
 *  Team Info
 *
 */

.teaminfo .team-photo {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

.teaminfo .profile {
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 12px;
}

.teaminfo .profile-icon {
  width: 80px;
  height: 80px;
  float: left;
}

.teaminfo .profile-data {
  margin-left: 100px;
}

.teaminfo .profile-data > p {
  margin-bottom: 4px;
}

.teaminfo .profile-name {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  vertical-align: bottom;
}
